@import "app.scss";


.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-cv{
    border: solid 1px $color-princs !important;
    margin-top: 20px;
    background-color: $color-terce !important;
}