@import "app.scss";

.companie {
    max-width: 500px;
    padding: 0;
    border-left: #ffffff68 solid 2px;
}


.companie-tlite__h5 {
    padding-top: 20px;
    margin-left: -13px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.companie-info__name {
    font-weight: 600;
    font-size: 20px;
}

.companie-tlite__h5 samp {
    margin-right: 14px;
    font-size: 26px;
    color: $color-princs;
}

.companie-dates {
    margin-left: 30px;
    color: #ffffff68;
    font-weight: 600;
}

.companie-link__a {
    text-decoration: none;
    font-size: 18px;
    color: $color-princs;
}