@import "app.scss";


.cover-page{
    max-width: 100%;
    padding: 3%;
    display: grid;
    grid-template: 70% / 70% 30%;
    align-items: center;

    background-image: url('https://images.pexels.com/photos/129208/pexels-photo-129208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .cover-page__photo{
    max-width: 100%;
    opacity: 100%;
  }
  
  .cover-page__photo--img{
    margin-top: 33%;
    max-width: 100%;
    border: solid 2px $color-princs;
    border-radius: 50%;
  }
  .cover-page__info--h2{
    font-weight: 600;
    margin-top: 28px;
  }
  
  .cover-page__info--h4{
    font-size: 17px;
  }
  .cover-page__info--p{
    font-size: 14px;
  }
  