@import "app.scss";

.technologie {
    margin: 10px;
    text-align: center;
    width: 120px;
    height: 120px;
    background-color:#ffffff10;
    border-bottom: solid 2px #58a846;
}
.technologie i {
    margin-top: 30px;
    font-size: 40px;
}
.technologie h6 {
    margin-top: 20px;
    font-weight: 600;
    color:#ffffff;
}

.fa-react{
   color:  #5ed3f3;
}
.fa-js-square{
    color: #efd81d;
}

.fa-globe-americas{
    color: #c64537;
}
.fa-node-js {
    color:  #63985e;
}
